<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменить данные пользователя</title>
</head>
<body>
<h1>Изменить данные Поттеромана</h1>
<form th:method="PATCH" th:action="@{/hello/admin/{id}(id=${user.getId()})}" th:object="${user}">

    <label for="name">Enter name: </label>
    <input type="text" th:field="*{userName}" id="name"/><br>
    <div style="color:red" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Name Error</div>

    <label for="lastName">Enter lastname: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/><br>
    <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">LastName Error</div>

    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/><br>
    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</div>

    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/><br>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>

    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/><br>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
    <br>
    <h3>Roles:</h3>
    <input type="checkbox" id="roles" th:each="role: ${roles}"
           th:text="${role.role}"
           th:value="${role.id}"
           th:field="*{roles}"/>
    <p><input type="submit" value="Карпе Ретрактум!"/></p>

</form>
<br>
<hr/>
<a href="/hello/admin"><h3>Посмотреть всех Поттероманов</h3></a>
</body>
</html>
